$font-family: 'Roboto', sans-serif;
$background-color: #f5f6fa;
$primary-color: #182C61;
$button-color: #44bd32;
$button-hover-color: #4cd137;
$container-max-width: 1024px;
$container-max-width-mobile: 80%;
$product-gap: 1%;
$product-column-gap: 4%;
$product-item-margin-bottom: 32px;
$border-radius: 16px;
$button-border-radius: 8px;
$menu-margin-left: 24px;